body {
	color: #212121;
	background-color: #FFF;
	font-family: "Roboto",arial,sans-serif;
	font-size: 15px;
	margin: 0;
}

a {
	background-color: inherit;
	border: none;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	text-decoration: inherit;
}
a:hover {
	text-decoration: underline;
}

#index img {
	margin: 0 auto;
	display: block;
}

#index h1 {
	font-size: 42px;
	font-weight: 300;
	margin: 0px auto 12px;
	line-height: 52px;
	text-align: center;
	letter-spacing: 0.02em;
}

#index p {
	opacity: 0.54;
	line-height: 32px;
	font-size: 24px;
	letter-spacing: 0.01em;
	margin: 14px auto 12px;
	max-width: 600px;
}

#index a {
	color: #EF6C00;
}

#list .cover {
	float: left;
	width: 264px;
	height: 264px;
}

#list .info {
	padding: 16px 20px;
	box-sizing: border-box;
	height: 264px;
	margin: 0px 30px 0px 264px;
}

#list h1 {
	font-size: 28px;
	font-weight: normal;
	line-height: 32px;
	margin: 0 48px 12px 0;
}

#list p {
	margin: 0;
	padding: 0;
}
#list p.stats {
	margin: 4px 0 0;
	color: #616161;
	font-size: 13px;
	height: 16px;
}

#list p a:hover {
	text-decoration: none;
	background-color: #F5F5F5;
}

#list form {
	margin-top: 12px;
}

#list table {
	margin-top: 20px;
	padding: 16px 0;
	width: 100%;
	table-layout: fixed;
	text-indent: 8px;
	border-spacing: 0;
	cursor: pointer;
}
#list th:first-child, td:first-child {
	padding-left: 16px !important;
}
#list th:last-child, td:last-child {
	padding-right: 16px !important;
}

#list th {
	height: 36px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	color: #333;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
}
#list th[data-sorted-direction=descending]::after {
	color: #616161;
	content: " ⬆";
}
#list th[data-sorted-direction=ascending]::after {
	color: #616161;
	content: " ⬇";
}

#list tbody tr:hover {
	background-color: #EEE;
}
#list tbody tr:active {
	background-color: #F5F5F5;
}

#list td {
	height: 64px;
	white-space: nowrap;
	overflow: hidden;
	color: #616161;
}

#list th#index, #list td[headers=index] {
	width: 42px;
	text-align: right;
	padding-right: 18px;
}

#list th#title, #list td[headers=title] {
	color: #212121;
	width: 42%;
}

#list th#artist, #list td[headers=artist] {
	width: 32%;
}

#list th#album, #list td[headers=album] {
	width: 26%;
}

#list th#dl, #list td[headers=dl] {
	width: 42px;
}

#list a[download] {
	display: block;
	width: 100%;
	height: 100%;
	color: #212121;
	line-height: 64px;
	font-size: 32px;
	visibility: hidden;
	overflow: hidden;
}
#list tbody tr:hover a[download] {
	visibility: visible;
}
